.Player {
  position: absolute;
  top: 0;
  left: 0;
  width: 5em;
  height: 5em;
  background: url("../images/cloud.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 5;
}

.PlayerWing {
  position: absolute;
  left: -1em;
  bottom: 1em;
  height: 4em;
  width: 4em;
  
  background: url("../images/wing.png");
  background-size: 100%;
  transform-origin: center;
  animation: 0.4s flap alternate infinite;
}

@keyframes flap {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(80deg);
	}
}

.George {
  position: absolute;
  opacity: 0.6;
  top: 0;
  right: 0;
  width: 10em;
  height: 15em;
  overflow: visible;
  background: url("../images/savage_burned.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 4;
  animation: georgeMovement 7s linear infinite;
}

@keyframes georgeMovement {
  from {
    transform: translateX(10em) rotateZ(0deg);
  }
  to   {
    transform: translateX(-100em) rotateZ(720deg);
  }
}

.Obstacle {
	top: 0;
	left: 0;
	width: 10em;
  z-index: 5;
}

.ObstacleBot {
	background: url("../images/drop.png");
	position:absolute;
	vertical-align: top;
  background-size: 20%;
}

.ObstacleTop {
	background: url("../images/drop.png");
	position:absolute;
	vertical-align: bottom;
    background-size: 20%;
}

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: purple;
  text-align: center;
  -webkit-transform: translate(0, -40em);
  -webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/

.score {
	position: absolute;
	z-index: 10;
	padding-left: 1em;
	padding-top: 1em;
  font-family: 'Comic Sans MS', serif;
  color: white;
  font-size: 2em;
}

.Scoreboard.is-visible {
  -webkit-transform: none;
}

.Scoreboard-finalScore {
  margin-top: 9em;
  font-family: 'Comic Sans MS', serif;
  color: white;
}

.Scoreboard-highScore {
  margin-top: 1em;
  font-family: 'Comic Sans MS', serif;
  color: white;
}

#finalScore, #highScore {
	font-size: 2em;
}

.Scoreboard-restart {
  margin-top: 2em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}

.Scoreboard-restartText {
  font-family: 'Comic Sans MS', serif;
  font-size: 2.4em;
  color: white;
}

body {
  background: black;
}

.browsehappy {
  margin: 0.2em 0;
  background: ?#?ccc?;
  color: #000;
  padding: 0.2em 0;
}

.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: rgb(34,128,251);
}


@keyframes groundMovement {
  0% {
    transform: translateZ(0) translate(0em, 0em); }
  100% {
    transform: translateZ(0) translate(-6em, 0em); }
}

.ground {
  position: absolute;
  z-index: 6;
  bottom: 0;
  width: 200%;
  height: 2.5em;
  background-image: url("../images/groundcloud.png");
  background-repeat: repeat-x;
  background-size: contain;
  animation: groundMovement 0.294s linear infinite;
}

.volumeButton {
  position: absolute;
  opacity: 0.6;
  bottom: 0;
  left: 0;
  width: 10em;
  height: 14em;
  overflow: visible;
  background-image: url("../images/volume.png");
  background-repeat: no-repeat;
  background-size: 100%;
  }